[compile]
target = "aarch64-unknown-none-softfloat"

[compile.build.Custom]
shell = ["make A=phytium/app/uvc-detect LD_SCRIPT=link.x FEATURES=driver-dyn LOG=info MYPLAT=axplat-aarch64-dyn"]
kernel = "phytium/app/uvc-detect/uvc-detect_aarch64-dyn.bin"

[qemu]
machine = "virt"
cpu = "cortex-a57"
graphic = false
args = ""

[uboot]
serial = "/dev/ttyUSB0"
baud_rate = 115200
dtb_file = "phytium/phytium.dtb"

[uboot.net]
interface = "enp3s0"